* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
  font-weight: 400;
}
body {
  background: #123456;
}
.accordion {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
.accordion-item {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
}
.accordion-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.accordion-title::after {
  content: "+";
  font-size: 40px;
  margin-left: auto;
}
.active-header::after {
  content: "-";
}
.accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: 1000ms ease all;
}
